@import "tailwindcss";

@theme {
  /* Warna Kuning (Primary) */
  --color-primary-light: #fef7e6;
  --color-primary: #f5b301; /* Ini warna normal */
  --color-primary-hover: #dda101;
  --color-primary-dark: #b88601;

  /* Warna Navy (Accent) */
  --color-accent-light: #e8eaed;
  --color-accent: #1b2a4e; /* Ini warna normal */
  --color-accent-hover: #182646;
  --color-accent-dark: #14203b;
  --color-accent-darker: #090f1b;

  /* Warna Abu-Abu (Neutral) */
  --color-neutral-light: #fafafa;
  --color-neutral-dark: #585858;

  /* Font Inter */
  --font-sans: 'Inter', sans-serif;
}

/* Hapus ikon mata di password (khusus browser Edge/IE) */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

/* Tambahan buat Chrome/Safari/Edge baru (biar beneran ilang) */
input[type="password"]::-webkit-password-reveal,
input[type="password"]::-webkit-password-clear {
  display: none;
}

/* Firefox */
input[type="password"] {
  -moz-appearance: textfield;
}
